@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.liveDot {
  position: relative;
}

.liveDotCenter {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 10;
  background-color: #10b981;
}

.ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #10b981;
  animation: ripple 2s infinite;
}

.ripple2 {
  animation-delay: 0.5s;
}

.ripple3 {
  animation-delay: 1s;
}

.carouselItem {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.carouselItemActive {
  transform: scale(1);
  opacity: 1;
}

.carouselItemInactive {
  transform: scale(0.9);
  opacity: 0.8;
}
